body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}
/*lorm ipsum */
/* start of navbar */
nav.fixed {
    position: fixed;
}

nav {
    top: 21px;
    left: 0;
    width: 100%;
    background-color: #FFD591;
    font-size: 18px;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container {
    width: 100%;
    margin: 0rem auto;
    margin-bottom: -9px;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0.5rem;
}

nav ul li {
    display: flex;
    position: relative;
}

nav ul li a:last-of-type {
    display: inline-block;
    padding: 1rem;
    color: #A59B87;
    margin-right: 10px;
}

nav ul li a:last-of-type::after {
    margin-right: 0vh
}

nav .user-menu ul>li:last-of-type {
    margin-right: 0vh;
    text-decoration: none;
}

.logo {
    margin-top: -6px;
    width: 5vh;
    height: auto;
    margin-left: 2vh;
    overflow: hidden;
}

nav .user-menu ul>li:last-of-type::before {
    font-size: 21px;
    content: "|";
    margin-top: 1rem;
    color: #F2FEFE;
    opacity: 0.5;
}

.jc-space-between {
    justify-content: space-between !important;
}

.row,
.col,
[class^=col-],
[class*=" col-"],
.inner {
    display: flex;
}

.eng-nl {
    display: flex;
    position: fixed;
    background-color: white;
    color: grey;
    width: 6666666666666px;
    height: 26px;
    z-index: 5;
}

.language {
    margin-top: 3px;
    margin-left: 9px;
    cursor: pointer;
}

.lang-txt {
    text-decoration: none;
    color: grey;
}

.logo-ul {
    margin-top: 2vh;
}

/* end of nav bar */

.field {
    position: relative;
    display: inline;
    background-color: #fff;
    margin: 6px;
    padding-right: 21px;
    border: none;
    font-size: 15px;
    padding-top: 3px;
    margin-bottom: 10px;

}

button {
    margin-bottom: 9px;
}

.search-icon {
    position: absolute;
    width: 31px;
    height: 35px;
    margin-left: -18px;
}

.header {
    padding: 60px;
    text-align: center;
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    color: white;
    font-size: 21px;
    text-align: right;
}

h1 {
    font-family: sans-serif;
    color: white;
    font-size: 80px;
    margin-top: 150px;
    margin-right: 100px;
    cursor: default;
}

/* //////////////////////////////// */

.form-cont {
    background-color: white;
    width: 400px;
    height: 647px;
    margin-left: 130px;
    margin-top: -37vh;
}

.border {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    padding: 0.6vh;
    padding-left: 12px;
    font-size: 23px;
    background-color: #C67335;
}

/* //////////////////////////////// */

.alert {
    margin-top: -9px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 4vh;
    padding-left: 3%;
    text-align: left;
    align-items: center;
    background-color: #EFEFEF;
}

.alert .alert-p {
    padding-top: 9px;
    padding-bottom: 9px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form {
    margin-top: -37px;
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 3%;
    text-align: left;
    align-items: center;
    background-color: #EFEFEF;
}

#age {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 36px;
}

#age-d {
    margin-top: 6px;
    margin-bottom: 6px;
    width: 56px;
}

#name {
    width: 60px;
}

#message {
    width: 35vh;
    height: 20vh;
    margin-top: 13px;
    margin-bottom: 13px;
    text-align: start;

}

/* ////////////////////////////////// */
footer {
    margin-top: 15vh;
    background-color: black;
    color: white;
    height: 12vh;
}

/* ////////////////////////////////// */

.location-contact-container {
    background-color: white;
    width: 600px;
    height: 200px;
    margin-left: 103vh;
    margin-top: -36vh;
}

.loc-con-text {
    margin-left: 1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    width: 24vh;
}

/* ////////////////////// */
#main {
    width: 52vh;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

/* ////////////////////// */
.personal-container {
    background-color: white;
    width: 220px;
    height: 200px;
    margin-left: 114vh;
}

.personal-text {
    margin-left: 1vh;
    margin-right: 12vh;
    margin-bottom: 1vh;
    width: 70vh;
}

/* ////////////////////////////////////////// */
.notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #888;
    color: #fff;
    border-radius: 5px;
    animation: slideIn 0.5s, fadeOut 2s 0.5s forwards;
}

@keyframes slideIn {
    from {
        bottom: -50px;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
    }
}

/* ////////////////////////////////////// */
.textToCopy {
    cursor: pointer;
}

/* /////////////////////////////////////////////// */
h3 {
    margin-top: 27vh;
    text-align: center;
    font-size: 3vh;
    color: white;
    background-color: #C67335;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.q-li {
    list-style:decimal;
    margin: 0;
    padding: 0;
}

#q-cont {
    width: fit-content;
    font-size: 18px;
    margin-left: 18vh;
    text-align: start;
    margin-top: 3vh;
    border-color: #888;
    border-width: 3px;
    border-style: none none solid none;
    overflow: hidden;
    mask: linear-gradient(to top, #000 0, #0000 90%), linear-gradient(#000, #000 90%) padding-box;
    mask-composite: exclude;
  }
#q-cont2 {
    width: fit-content;
    font-size: 18px;
    margin-left: 18vh;
    text-align: start;
    margin-top: 3vh;
    border-color: #888;
    border-width: 3px;
    border-style: none none solid none;
    overflow: hidden;
    mask: linear-gradient(to top, #000 0, #0000 90%), linear-gradient(#000, #000 90%) padding-box;
    mask-composite: exclude;
  }
#q-cont3 {
    width: fit-content;
    font-size: 18px;
    margin-left: 18vh;
    text-align: start;
    margin-top: 3vh;
    border-color: #888;
    border-width: 3px;
    border-style: none none solid none;
    overflow: hidden;
    mask: linear-gradient(to top, #000 0, #0000 90%), linear-gradient(#000, #000 90%) padding-box;
    mask-composite: exclude;
  }