body{
    margin: 0;
    padding:0;
}
.lightblue {
    width: auto;
    height: 40px;
}

nav.fixed {
    position: fixed;
}

nav {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFD591;
    font-size: 23px;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container {
    width: 100%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0.5rem;
}

nav ul li {
    display: flex;
    position: relative;
}

nav ul li a:last-of-type {
    display: inline-block;
    padding: 1rem;
    color: #A59B87;
    margin-right: 10px;
}
nav ul li a:last-of-type::after{
    margin-right: 0vh
}

nav .user-menu ul>li:last-of-type {
    margin-right: 0vh;
    text-decoration: none;
}

.logo {
    width: 5vh;
    height: auto;
    margin-left: 2vh;
    overflow: hidden;
}

nav .user-menu ul>li:last-of-type::before {
    font-size: 24px;
    content: "|";
    margin-top: 1rem;
    color: #F2FEFE;
    opacity: 0.5;
}

.jc-space-between {
    justify-content: space-between !important;
}

.row,
.col,
[class^=col-],
[class*=" col-"],
.inner {
    display: flex;
}


.field {
    position: relative;
    display: inline;
    background-color: #fff;
    margin: 6px;
    padding-right: 93px;
    border: none;
    font-size: 20px;
    padding-top: 5px;
    
}
.search-icon{
position: absolute;
width: 36px;
margin-left: 53px;
}

.header {
    padding: 60px;
    text-align: center;
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    color: white;
    font-size: 30px;
  }