.header {
    padding: 60px;
    text-align: center;
    background-image: url("img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    color: white;
    font-size: 30px;
    text-align: right;
}

h1{
    font-family:sans-serif;
    color: white;
    font-size: 100px;
    margin-top: 150px;
    margin-right: 100px;
}